<head>
  <title>imboredonthisflight</title>
</head>

<body>
{{> editor}}
</body>

<template name="editor">
  <h1>Editor</h1>
  <form class="main-edit" role="new" id="main-edit">
<input type="textbox" name="title" placeholder="title" />
<input type="textbox" name="subtitle" placeholder="subtitle" />
<a href="#" id="add-fragment">Aff Fragment</a>
<div id="fragement-zone">
<textarea name="default" id="default-textarea">
html shit
</textarea>
</div>
<button name="submit" type="submit">submit to me</button>
</form>


</template>
